## Projet 2: Analyse des données de systèmes éducatifs

### Partie 1

#### Étape 1 : Chargement des données

In [2]:
# Importation des bibliothèques
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [3]:
# Configuration pour l'affichage
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)

# Liste des fichiers à analyser
fichiers = [
    'EdStatsCountry.csv',
    'EdStatsCountry-Series.csv', 
    'EdStatsData.csv',
    'EdStatsFootNote.csv',
    'EdStatsSeries.csv'
]

# Chargement des données
CountrySeries = pd.read_csv("EdStatsCountry-Series.csv")
Country       = pd.read_csv("EdStatsCountry.csv")
Data          = pd.read_csv("EdStatsData.csv")
FootNote      = pd.read_csv("EdStatsFootNote.csv")
Series        = pd.read_csv("EdStatsSeries.csv")

print("-" * 130)
print("Dataset EdStatsCountry-Series.csv: chargé avec succès sous le nom CountrySeries")
print("\nDataset EdStatsCountry.csv: chargé avec succès sous le nom Country")
print("\nDataset EdStatsData.csv: chargé avec succès sous le nom Data ")
print("\nDataset EdStatsFootNote.csv: chargé avec succès sous le nom FootNote")
print("\nDataset EdStatsSeries.csv: chargé avec succès sous le nom Series")
print(f"\n {len(fichiers)} fichiers chargés au total")
print("-" * 70)

----------------------------------------------------------------------------------------------------------------------------------
Dataset EdStatsCountry-Series.csv: chargé avec succès sous le nom CountrySeries

Dataset EdStatsCountry.csv: chargé avec succès sous le nom Country

Dataset EdStatsData.csv: chargé avec succès sous le nom Data

Dataset EdStatsFootNote.csv: chargé avec succès sous le nom FootNote

Dataset EdStatsSeries.csv: chargé avec succès sous le nom Series

 5 fichiers chargés au total
----------------------------------------------------------------------

#### Étape 2 : Collecte des informations sur chaque dataset

    1. Dataset EdStatsCountry-Series (CountrySeries) :  Permet de savoir quels indicateurs sont disponibles pour chaque pays

In [4]:
# 1. Définir des lignes
print(" * Structure des données:")
print(f"      - Dimensions: {CountrySeries.shape[0]} lignes × {CountrySeries.shape[1]} colonnes")
print(f"      - Colonnes: {list(CountrySeries.columns[:5])}{'...' if len(CountrySeries.columns) > 5 else ''}")

# Aperçu des 5 premières lignes
print(f"\n • Aperçu des données:")
display(CountrySeries.head())
        
# 2. Calcul des doublons
print(f"\n • Gestion des doublons ")
nb_doublons = CountrySeries.duplicated().sum()
print(f"      - Nombre de doublons: {nb_doublons}")
if nb_doublons > 0:
    print(f"  - Proportion de doublons: {nb_doublons/len(CountrySeries)*100:.2f}%")
            # On supprimera les doublons si nécessaire

#3. Calcul des valeurs manquantes
valeurs_manquantes = CountrySeries.isnull().sum()
prop_manquantes = (valeurs_manquantes / len(CountrySeries) * 100).round(2)
        
### Affichage des colonnes avec des valeurs manquantes
colonnes_avec_nan = prop_manquantes[prop_manquantes > 0]
if len(colonnes_avec_nan) > 0:
    print(" * Colonnes avec valeurs manquantes:")
    for col, prop in colonnes_avec_nan.head(10).items():
        print(f"      - {col}: {valeurs_manquantes[col]} ({prop}%)")
    if len(colonnes_avec_nan) > 10:
        print(f"      -  ... et {len(colonnes_avec_nan)-10} autres colonnes")
    else:
        print("Aucune valeur manquante détectée")
        
# 4. Statistiques descriptives pour colonnes numériques
colonnes_numeriques = CountrySeries.select_dtypes(include=[np.number]).columns
if len(colonnes_numeriques) > 0:
    print(f"\n • Statistiques descritives ({len(colonnes_numeriques)} colonnes numériques):")
    print(CountrySeries[colonnes_numeriques].describe())
        
#5. Analyse des colonnes catégorielles
colonnes_categorielles = CountrySeries.select_dtypes(include=['object']).columns
if len(colonnes_categorielles) > 0:
    print(f"\nColonnes catégorielles ({len(colonnes_categorielles)} colonnes):")
    for col in colonnes_categorielles[:5]:  # Limiter à 5 colonnes
        nb_uniques = CountrySeries[col].nunique()
        print(f" {col}: {nb_uniques} valeurs uniques")
        if nb_uniques <= 10:  # Afficher les valeurs si pas trop nombreuses
            print(f"Valeurs: {CountrySeries[col].value_counts().head(3).to_dict()}")

 * Structure des données:
      - Dimensions: 613 lignes × 4 colonnes
      - Colonnes: ['CountryCode', 'SeriesCode', 'DESCRIPTION', 'Unnamed: 3']

 • Aperçu des données:

,CountryCode,SeriesCode,DESCRIPTION,Unnamed: 3
0,ABW,SP.POP.TOTL,Data sources : United Nations World Population...,NaN
1,ABW,SP.POP.GROW,Data sources: United Nations World Population ...,NaN
2,AFG,SP.POP.GROW,Data sources: United Nations World Population ...,NaN
3,AFG,NY.GDP.PCAP.PP.CD,Estimates are based on regression.,NaN
4,AFG,SP.POP.TOTL,Data sources : United Nations World Population...,NaN

 • Gestion des doublons
      - Nombre de doublons: 0
 * Colonnes avec valeurs manquantes:
      - Unnamed: 3: 613 (100.0%)
Aucune valeur manquante détectée

 • Statistiques descritives (1 colonnes numériques):
       Unnamed: 3
count         0.0
mean          NaN
std           NaN
min           NaN
25%           NaN
50%           NaN
75%           NaN
max           NaN

Colonnes catégorielles (3 colonnes):
 CountryCode: 211 valeurs uniques
 SeriesCode: 21 valeurs uniques
 DESCRIPTION: 97 valeurs uniques

Après analyse, la colonne "Unnamed: 3" est inutilisable.

In [5]:
CountrySeries = CountrySeries.drop("Unnamed: 3", axis = 1)

   2. Dataset EdStatsCountry(Country)

In [6]:
# 1. Définir des lignes
print(" * Structure des données:")
print(f"      - Dimensions: {Country.shape[0]} lignes × {Country.shape[1]} colonnes")
print(f"      - Colonnes: {list(Country.columns[:5])}{'...' if len(Country.columns) > 5 else ''}")

# Aperçu des 5 premières lignes
print(f"\n * Aperçu des données:")
display(Country.head())
        
# 2. Calcul des doublons
print(f"\n * Gestion des doublons ")
nb_doublons = Country.duplicated().sum()
print(f"      - Nombre de doublons: {nb_doublons}")
if nb_doublons > 0:
    print(f"  - Proportion de doublons: {nb_doublons/len(Country)*100:.2f}%")
            # On supprimera les doublons si nécessaire

#3. Calcul des valeurs manquantes
valeurs_manquantes = Country.isnull().sum()
prop_manquantes = (valeurs_manquantes / len(Country) * 100).round(2)
        
### Affichage des colonnes avec des valeurs manquantes
colonnes_avec_nan = prop_manquantes[prop_manquantes > 0]
if len(colonnes_avec_nan) > 0:
    print(" * Colonnes avec valeurs manquantes:")
    for col, prop in colonnes_avec_nan.head(10).items():
        print(f"      - {col}: {valeurs_manquantes[col]} ({prop}%)")
    if len(colonnes_avec_nan) > 10:
        print(f"      -  ... et {len(colonnes_avec_nan)-10} autres colonnes")
    else:
        print("Aucune valeur manquante détectée")
        
# 4. Statistiques descriptives pour colonnes numériques
colonnes_numeriques = Country.select_dtypes(include=[np.number]).columns
if len(colonnes_numeriques) > 0:
    print(f"\n * Statistiques descritives ({len(colonnes_numeriques)} colonnes numériques):")
    print(Country[colonnes_numeriques].describe())
        
#5. Analyse des colonnes catégorielles
colonnes_categorielles = Country.select_dtypes(include=['object']).columns
if len(colonnes_categorielles) > 0:
    print(f"\nColonnes catégorielles ({len(colonnes_categorielles)} colonnes):")
    for col in colonnes_categorielles[:5]:  # Limiter à 5 colonnes
        nb_uniques = Country[col].nunique()
        print(f" {col}: {nb_uniques} valeurs uniques")
        if nb_uniques <= 10:  # Afficher les valeurs si pas trop nombreuses
            print(f"Valeurs: {Country[col].value_counts().head(3).to_dict()}")

 * Structure des données:
      - Dimensions: 241 lignes × 32 colonnes
      - Colonnes: ['Country Code', 'Short Name', 'Table Name', 'Long Name', '2-alpha code']...

 * Aperçu des données:

,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Special Notes,Region,Income Group,WB-2 code,National accounts base year,National accounts reference year,SNA price valuation,Lending category,Other groups,System of National Accounts,Alternative conversion factor,PPP survey year,Balance of Payments Manual in use,External debt Reporting status,System of trade,Government Accounting concept,IMF data dissemination standard,Latest population census,Latest household survey,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data,Latest water withdrawal data,Unnamed: 31
0,ABW,Aruba,Aruba,Aruba,AW,Aruban florin,SNA data for 2000-2011 are updated from offici...,Latin America & Caribbean,High income: nonOECD,AW,2000,NaN,Value added at basic prices (VAB),NaN,NaN,Country uses the 1993 System of National Accou...,NaN,NaN,"IMF Balance of Payments Manual, 6th edition.",NaN,Special trade system,NaN,NaN,2010,NaN,NaN,Yes,NaN,NaN,2012.0,NaN,NaN
1,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,Fiscal year end: March 20; reporting period fo...,South Asia,Low income,AF,2002/03,NaN,Value added at basic prices (VAB),IDA,HIPC,Country uses the 1993 System of National Accou...,NaN,NaN,NaN,Actual,General trade system,Consolidated central government,General Data Dissemination System (GDDS),1979,"Multiple Indicator Cluster Survey (MICS), 2010/11","Integrated household survey (IHS), 2008",NaN,2013/14,NaN,2012.0,2000,NaN
2,AGO,Angola,Angola,People's Republic of Angola,AO,Angolan kwanza,"April 2013 database update: Based on IMF data,...",Sub-Saharan Africa,Upper middle income,AO,2002,NaN,Value added at producer prices (VAP),IBRD,NaN,Country uses the 1993 System of National Accou...,1991–96,2005,"IMF Balance of Payments Manual, 6th edition.",Actual,Special trade system,Budgetary central government,General Data Dissemination System (GDDS),1970,"Malaria Indicator Survey (MIS), 2011","Integrated household survey (IHS), 2008",NaN,2015,NaN,NaN,2005,NaN
3,ALB,Albania,Albania,Republic of Albania,AL,Albanian lek,NaN,Europe & Central Asia,Upper middle income,AL,Original chained constant price data are resca...,1996.0,Value added at basic prices (VAB),IBRD,NaN,Country uses the 1993 System of National Accou...,NaN,Rolling,"IMF Balance of Payments Manual, 6th edition.",Actual,General trade system,Budgetary central government,General Data Dissemination System (GDDS),2011,"Demographic and Health Survey (DHS), 2008/09",Living Standards Measurement Study Survey (LSM...,Yes,2012,2010.0,2012.0,2006,NaN
4,AND,Andorra,Andorra,Principality of Andorra,AD,Euro,NaN,Europe & Central Asia,High income: nonOECD,AD,1990,NaN,NaN,NaN,NaN,Country uses the 1968 System of National Accou...,NaN,NaN,NaN,NaN,Special trade system,NaN,NaN,2011. Population figures compiled from adminis...,NaN,NaN,Yes,NaN,NaN,2006.0,NaN,NaN

 * Gestion des doublons
      - Nombre de doublons: 0
 * Colonnes avec valeurs manquantes:
      - 2-alpha code: 3 (1.24%)
      - Currency Unit: 26 (10.79%)
      - Special Notes: 96 (39.83%)
      - Region: 27 (11.2%)
      - Income Group: 27 (11.2%)
      - WB-2 code: 1 (0.41%)
      - National accounts base year: 36 (14.94%)
      - National accounts reference year: 209 (86.72%)
      - SNA price valuation: 44 (18.26%)
      - Lending category: 97 (40.25%)
      -  ... et 18 autres colonnes

 * Statistiques descritives (4 colonnes numériques):
       National accounts reference year  Latest industrial data  \
count                          32.00000              107.000000
mean                         2001.53125             2008.102804
std                             5.24856                2.616834
min                          1987.00000             2000.000000
25%                          1996.75000             2007.500000
50%                          2002.00000             2009.000000
75%                          2005.00000             2010.000000
max                          2012.00000             2010.000000

       Latest trade data  Unnamed: 31
count         185.000000          0.0
mean         2010.994595          NaN
std             2.569675          NaN
min          1995.000000          NaN
25%          2011.000000          NaN
50%          2012.000000          NaN
75%          2012.000000          NaN
max          2012.000000          NaN

Colonnes catégorielles (28 colonnes):
 Country Code: 241 valeurs uniques
 Short Name: 241 valeurs uniques
 Table Name: 241 valeurs uniques
 Long Name: 241 valeurs uniques
 2-alpha code: 238 valeurs uniques

Après analyse, la colonne "Unnamed: 31" est inutilisable.

In [8]:
Country = Country.drop("Unnamed: 31", axis = 1)

KeyError: "['Unnamed: 31'] not found in axis"

   3. Dataset EdStatsData(Data)

In [66]:
# 1. Définir des lignes
print(" * Structure des données:")
print(f"      - Dimensions: {Data.shape[0]} lignes × {Data.shape[1]} colonnes")
print(f"      - Colonnes: {list(Data.columns[:5])}{'...' if len(Data.columns) > 5 else ''}")

# Aperçu des 5 premières lignes
print(f"\n * Aperçu des données:")
display(Data.head())
        
# 2. Calcul des doublons
print(f"\n * Gestion des doublons ")
nb_doublons = Data.duplicated().sum()
print(f"      - Nombre de doublons: {nb_doublons}")
if nb_doublons > 0:
    print(f"  - Proportion de doublons: {nb_doublons/len(Data)*100:.2f}%")
            # On supprimera les doublons si nécessaire

#3. Calcul des valeurs manquantes
valeurs_manquantes = Data.isnull().sum()
prop_manquantes = (valeurs_manquantes / len(Data) * 100).round(2)
        
### Affichage des colonnes avec des valeurs manquantes
colonnes_avec_nan = prop_manquantes[prop_manquantes > 0]
if len(colonnes_avec_nan) > 0:
    print(" * Colonnes avec valeurs manquantes:")
    for col, prop in colonnes_avec_nan.head(10).items():
        print(f"      - {col}: {valeurs_manquantes[col]} ({prop}%)")
    if len(colonnes_avec_nan) > 10:
        print(f"      -  ... et {len(colonnes_avec_nan)-10} autres colonnes")
    else:
        print("Aucune valeur manquante détectée")
        
# 4. Statistiques descriptives pour colonnes numériques
colonnes_numeriques = Data.select_dtypes(include=[np.number]).columns
if len(colonnes_numeriques) > 0:
    print(f"\n * Statistiques descritives ({len(colonnes_numeriques)} colonnes numériques):")
    print(Data[colonnes_numeriques].describe())
        
#5. Analyse des colonnes catégorielles
colonnes_categorielles = Data.select_dtypes(include=['object']).columns
if len(colonnes_categorielles) > 0:
    print(f"\nColonnes catégorielles ({len(colonnes_categorielles)} colonnes):")
    for col in colonnes_categorielles[:5]:  # Limiter à 5 colonnes
        nb_uniques = Data[col].nunique()
        print(f" {col}: {nb_uniques} valeurs uniques")
        if nb_uniques <= 10:  # Afficher les valeurs si pas trop nombreuses
            print(f"Valeurs: {Data[col].value_counts().head(3).to_dict()}")

 * Structure des données:
      - Dimensions: 886930 lignes × 70 colonnes
      - Colonnes: ['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code', '1970']...

 * Aperçu des données:

,Country Name,Country Code,Indicator Name,Indicator Code,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2020,2025,2030,2035,2040,2045,2050,2055,2060,2065,2070,2075,2080,2085,2090,2095,2100,Unnamed: 69
0,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.GPI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arab World,ARB,"Adjusted net enrolment rate, primary, both sex...",SE.PRM.TENR,54.822121,54.894138,56.209438,57.267109,57.991138,59.36554,60.999962,61.92268,62.69342,64.383186,65.617767,66.085152,66.608139,67.290451,68.510094,69.033211,69.944908,71.04187,71.693779,71.699097,71.995819,72.602837,70.032722,70.464821,72.645683,71.81176,73.903511,74.425201,75.110817,76.254318,77.245682,78.800522,80.051399,80.805389,81.607063,82.489487,82.685509,83.280342,84.011871,84.195961,85.211998,85.24514,86.101669,85.51194,85.320152,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

 * Gestion des doublons
      - Nombre de doublons: 0
 * Colonnes avec valeurs manquantes:
      - 1970: 814642 (91.85%)
      - 1971: 851393 (95.99%)
      - 1972: 851311 (95.98%)
      - 1973: 851385 (95.99%)
      - 1974: 851200 (95.97%)
      - 1975: 799624 (90.16%)
      - 1976: 849447 (95.77%)
      - 1977: 849356 (95.76%)
      - 1978: 849354 (95.76%)
      - 1979: 850121 (95.85%)
      -  ... et 56 autres colonnes

 * Statistiques descritives (66 colonnes numériques):
               1970          1971          1972          1973          1974  \
count  7.228800e+04  3.553700e+04  3.561900e+04  3.554500e+04  3.573000e+04
mean   1.974772e+09  4.253638e+09  4.592365e+09  5.105006e+09  5.401493e+09
std    1.211687e+11  1.804814e+11  1.914083e+11  2.059170e+11  2.112150e+11
min   -1.435564e+00 -1.594625e+00 -3.056522e+00 -4.032582e+00 -4.213563e+00
25%    8.900000e-01  8.853210e+00  9.240920e+00  9.595200e+00  9.861595e+00
50%    6.317724e+00  6.316240e+01  6.655139e+01  6.969595e+01  7.087760e+01
75%    6.251250e+01  5.655200e+04  5.863650e+04  6.202900e+04  6.383675e+04
max    1.903929e+13  1.986457e+13  2.100916e+13  2.238367e+13  2.282991e+13

               1975          1976          1977          1978          1979  \
count  8.730600e+04  3.748300e+04  3.757400e+04  3.757600e+04  3.680900e+04
mean   2.314288e+09  5.731808e+09  6.124437e+09  6.671489e+09  7.436724e+09
std    1.375059e+11  2.215546e+11  2.325489e+11  2.473986e+11  2.660957e+11
min   -3.658569e+00 -2.950945e+00 -3.174870e+00 -3.558749e+00 -2.973612e+00
25%    1.400000e+00  9.312615e+00  9.519913e+00  1.000000e+01  1.000000e+01
50%    9.677420e+00  7.101590e+01  7.133326e+01  7.290512e+01  7.510173e+01
75%    7.854163e+01  5.682800e+04  5.739175e+04  5.940425e+04  6.411500e+04
max    2.300634e+13  2.424128e+13  2.521383e+13  2.622101e+13  2.730873e+13

               1980          1981          1982          1983          1984  \
count  8.912200e+04  3.877700e+04  3.751100e+04  3.846000e+04  3.860600e+04
mean   3.283898e+09  7.664969e+09  7.913722e+09  7.856908e+09  8.118002e+09
std    1.780774e+11  2.744142e+11  2.790549e+11  2.823809e+11  2.940635e+11
min   -1.404240e+00 -1.478345e+00 -2.358765e+00 -2.867273e+00 -2.800548e+00
25%    1.770000e+00  9.468690e+00  9.989330e+00  9.581825e+00  9.068048e+00
50%    1.107000e+01  7.467213e+01  7.710972e+01  7.592528e+01  7.533138e+01
75%    8.202760e+01  6.310400e+04  6.923300e+04  6.304125e+04  6.360700e+04
max    2.784319e+13  2.837926e+13  2.848067e+13  2.916436e+13  3.048521e+13

               1985          1986          1987          1988          1989  \
count  9.029600e+04  3.937200e+04  3.864100e+04  3.855200e+04  3.754000e+04
mean   3.622763e+09  9.156550e+09  1.014901e+10  1.104709e+10  1.195436e+10
std    2.002929e+11  3.264675e+11  3.535351e+11  3.804257e+11  4.014873e+11
min   -2.216315e+00 -1.556722e+00 -1.410886e+00 -1.425202e+00 -1.562425e+00
25%    2.150000e+00  9.332923e+00  9.595330e+00  9.715503e+00  9.679637e+00
50%    1.200000e+01  7.409428e+01  7.357014e+01  7.354275e+01  7.935322e+01
75%    8.338313e+01  6.608525e+04  7.001100e+04  7.597875e+04  8.558375e+04
max    3.166465e+13  3.271284e+13  3.388244e+13  3.545738e+13  3.678741e+13

               1990          1991          1992          1993          1994  \
count  1.244050e+05  7.443700e+04  7.554300e+04  7.579300e+04  7.746200e+04
mean   9.084424e+09  1.571674e+10  1.604668e+10  1.643532e+10  1.684022e+10
std    3.665667e+11  4.881357e+11  5.012055e+11  5.121962e+11  5.292982e+11
min   -1.803750e+00 -5.814339e+00 -5.089333e+00 -6.184857e+00 -4.792691e+00
25%    4.830000e+00  5.134554e+01  4.933854e+01  4.944877e+01  4.783283e+01
50%    5.048379e+01  3.916000e+04  3.477300e+04  3.497100e+04  3.182500e+04
75%    9.134300e+04  4.383130e+05  4.246125e+05  4.316250e+05  4.244605e+05
max    4.714344e+13  4.781272e+13  4.866446e+13  4.959600e+13  5.106581e+13

               1995          1996          1997          1998          1999  \
count  1.313610e+05  7.680700e+04  7.345300e+04  8.491400e+04  1.188390e+05
mean   1.052543e+10  1.874630e+10  2.027385e+10  1.794678e+10  1.331558e+10
std    4.285218e+11  5.812586e+11  6.142357e+11  5.859148e+11  5.153472e+11
min   -2.697722e+00 -3.820174e+00 -2.517245e+00 -6.086200e+04 -6.526000e+04
25%    5.200000e+00  4.836486e+01  5.510854e+01  3.346871e+01  1.749051e+01
50%    5.018663e+01  3.262400e+04  4.319600e+04  1.521400e+04  1.251000e+03
75%    7.954000e+04  4.371055e+05  4.909700e+05  3.768212e+05  1.867360e+05
max    5.275448e+13  5.478031e+13  5.695521e+13  5.835137e+13  6.040632e+13

               2000          2001          2002          2003          2004  \
count  1.766760e+05  1.235090e+05  1.242050e+05  1.303630e+05  1.288140e+05
mean   9.423384e+09  1.384867e+10  1.428299e+10  1.449393e+10  1.589729e+10
std    4.442374e+11  5.449242e+11  5.622886e+11  5.803607e+11  6.278337e+11
min   -6.759300e+04 -6.973700e+04 -9.214300e+04 -1.111860e+05 -1.262600e+05
25%    5.699035e+00  1.599897e+01  1.584246e+01  1.550983e+01  1.418687e+01
50%    5.078717e+01  8.300000e+02  9.460000e+02  3.956150e+02  3.350000e+02
75%    3.343950e+04  1.746540e+05  1.770990e+05  1.474790e+05  1.584082e+05
max    6.327293e+13  6.477834e+13  6.654753e+13  6.906328e+13  7.278829e+13

               2005          2006          2007          2008          2009  \
count  1.841080e+05  1.403120e+05  1.372720e+05  1.343870e+05  1.421080e+05
mean   1.188637e+10  1.684674e+10  1.872300e+10  2.029794e+10  1.894907e+10
std    5.576181e+11  6.851484e+11  7.465688e+11  7.944132e+11  7.623650e+11
min   -1.347240e+05 -3.708940e+05 -3.882170e+05 -4.088540e+05 -4.561240e+05
25%    5.720000e+00  1.277624e+01  1.268661e+01  1.233467e+01  1.181939e+01
50%    5.031512e+01  9.981849e+01  1.000000e+02  1.000000e+02  9.925039e+01
75%    2.993150e+04  1.187198e+05  1.343790e+05  1.453855e+05  1.180412e+05
max    7.624045e+13  8.031840e+13  8.469145e+13  8.711022e+13  8.677516e+13

               2010          2011          2012          2013          2014  \
count  2.424420e+05  1.460120e+05  1.472640e+05  1.375090e+05  1.137890e+05
mean   1.189592e+10  2.117911e+10  2.176323e+10  2.425332e+10  2.678449e+10
std    6.218710e+11  8.555853e+11  8.833955e+11  9.513016e+11  1.023180e+12
min   -4.969050e+05 -5.709940e+05 -6.049930e+05 -6.157480e+05 -8.900000e+01
25%    1.322703e+00  1.216330e+01  1.100000e+01  1.306113e+01  1.614639e+01
50%    2.046020e+01  9.853510e+01  9.759012e+01  1.000000e+02  1.000000e+02
75%    3.121000e+03  1.065065e+05  1.038168e+05  1.426480e+05  1.636440e+05
max    9.134676e+13  9.506314e+13  9.999473e+13  1.054580e+14  1.108060e+14

               2015          2016        2017          2020          2025  \
count  1.310580e+05  1.646000e+04  143.000000  5.143600e+04  5.143600e+04
mean   2.353720e+10  1.934411e+11    2.160839  5.780697e+02  6.054774e+02
std    9.732465e+11  2.839188e+12    0.810584  1.475072e+04  1.577305e+04
min   -2.467847e+00 -1.797539e+00    1.000000 -1.870000e+00 -2.000000e+00
25%    4.100000e-01  1.826761e+01    2.000000  6.000000e-02  6.000000e-02
50%    5.235000e+01  6.264000e+03    2.000000  2.300000e-01  2.300000e-01
75%    6.153575e+04  5.939590e+05    3.000000  6.660000e+00  6.900000e+00
max    1.156198e+14  1.206030e+14    4.000000  1.599479e+06  1.781898e+06

               2030          2035          2040          2045          2050  \
count  5.143600e+04  5.143600e+04  5.143600e+04  5.143600e+04  5.143600e+04
mean   6.315916e+02  6.556516e+02  6.751516e+02  6.911287e+02  7.040640e+02
std    1.678556e+04  1.778666e+04  1.874408e+04  1.965409e+04  2.052941e+04
min   -2.110000e+00 -2.150000e+00 -2.140000e+00 -2.090000e+00 -1.980000e+00
25%    6.000000e-02  6.000000e-02  5.000000e-02  5.000000e-02  4.000000e-02
50%    2.300000e-01  2.300000e-01  2.300000e-01  2.300000e-01  2.300000e-01
75%    7.062500e+00  7.300000e+00  7.400000e+00  7.432500e+00  7.500000e+00
max    1.967258e+06  2.151416e+06  2.330336e+06  2.500439e+06  2.662071e+06

               2055          2060          2065          2070          2075  \
count  5.143600e+04  5.143600e+04  5.143600e+04  5.143600e+04  5.143600e+04
mean   7.145788e+02  7.224868e+02  7.271290e+02  7.283779e+02  7.266484e+02
std    2.136851e+04  2.215845e+04  2.287990e+04  2.352338e+04  2.408149e+04
min   -1.830000e+00 -1.630000e+00 -1.440000e+00 -1.260000e+00 -1.090000e+00
25%    3.000000e-02  3.000000e-02  3.000000e-02  2.000000e-02  2.000000e-02
50%    2.300000e-01  2.300000e-01  2.300000e-01  2.300000e-01  2.300000e-01
75%    7.500000e+00  7.505000e+00  7.500000e+00  7.300000e+00  7.100000e+00
max    2.813670e+06  2.951569e+06  3.070879e+06  3.169711e+06  3.246239e+06

               2080          2085          2090          2095          2100  \
count  5.143600e+04  5.143600e+04  5.143600e+04  5.143600e+04  5.143600e+04
mean   7.228327e+02  7.176899e+02  7.113072e+02  7.034274e+02  6.940296e+02
std    2.455897e+04  2.496587e+04  2.530183e+04  2.556069e+04  2.574189e+04
min   -9.200000e-01 -7.800000e-01 -6.500000e-01 -5.500000e-01 -4.500000e-01
25%    1.000000e-02  1.000000e-02  1.000000e-02  1.000000e-02  1.000000e-02
50%    2.300000e-01  2.300000e-01  2.300000e-01  2.300000e-01  2.200000e-01
75%    6.722500e+00  6.080000e+00  5.462500e+00  4.680000e+00  4.032500e+00
max    3.301586e+06  3.337871e+06  3.354746e+06  3.351887e+06  3.330484e+06

       Unnamed: 69
count          0.0
mean           NaN
std            NaN
min            NaN
25%            NaN
50%            NaN
75%            NaN
max            NaN

Colonnes catégorielles (4 colonnes):
 Country Name: 242 valeurs uniques
 Country Code: 242 valeurs uniques
 Indicator Name: 3665 valeurs uniques
 Indicator Code: 3665 valeurs uniques

In [67]:
Data = Data.drop("Unnamed: 69", axis = 1)

4. Dataset EdStatsFootNote(FootNote) : Notes contextuelles importantes pour interpréter les données (ex: changement méthodologique, événements spéciaux)

In [9]:
# 1. Définir des lignes
print(" * Structure des données:")
print(f"      - Dimensions: {FootNote.shape[0]} lignes × {FootNote.shape[1]} colonnes")
print(f"      - Colonnes: {list(FootNote.columns[:5])}{'...' if len(FootNote.columns) > 5 else ''}")

# Aperçu des 5 premières lignes
print(f"\n * Aperçu des données:")
display(FootNote.head())
        
# 2. Calcul des doublons
print(f"\n * Gestion des doublons ")
nb_doublons = FootNote.duplicated().sum()
print(f"      - Nombre de doublons: {nb_doublons}")
if nb_doublons > 0:
    print(f"  - Proportion de doublons: {nb_doublons/len(FootNote)*100:.2f}%")
            # On supprimera les doublons si nécessaire

#3. Calcul des valeurs manquantes
valeurs_manquantes = FootNote.isnull().sum()
prop_manquantes = (valeurs_manquantes / len(FootNote) * 100).round(2)
        
### Affichage des colonnes avec des valeurs manquantes
colonnes_avec_nan = prop_manquantes[prop_manquantes > 0]
if len(colonnes_avec_nan) > 0:
    print(" * Colonnes avec valeurs manquantes:")
    for col, prop in colonnes_avec_nan.head(10).items():
        print(f"      - {col}: {valeurs_manquantes[col]} ({prop}%)")
    if len(colonnes_avec_nan) > 10:
        print(f"      -  ... et {len(colonnes_avec_nan)-10} autres colonnes")
    else:
        print("Aucune valeur manquante détectée")
        
# 4. Statistiques descriptives pour colonnes numériques
colonnes_numeriques = FootNote.select_dtypes(include=[np.number]).columns
if len(colonnes_numeriques) > 0:
    print(f"\n * Statistiques descritives ({len(colonnes_numeriques)} colonnes numériques):")
    print(FootNote[colonnes_numeriques].describe())
        
#5. Analyse des colonnes catégorielles
colonnes_categorielles = FootNote.select_dtypes(include=['object']).columns
if len(colonnes_categorielles) > 0:
    print(f"\nColonnes catégorielles ({len(colonnes_categorielles)} colonnes):")
    for col in colonnes_categorielles[:5]:  # Limiter à 5 colonnes
        nb_uniques = FootNote[col].nunique()
        print(f" {col}: {nb_uniques} valeurs uniques")
        if nb_uniques <= 10:  # Afficher les valeurs si pas trop nombreuses
            print(f"Valeurs: {FootNote[col].value_counts().head(3).to_dict()}")

 * Structure des données:
      - Dimensions: 643638 lignes × 5 colonnes
      - Colonnes: ['CountryCode', 'SeriesCode', 'Year', 'DESCRIPTION', 'Unnamed: 4']

 * Aperçu des données:

  CountryCode      SeriesCode    Year          DESCRIPTION  Unnamed: 4
0         ABW  SE.PRE.ENRL.FE  YR2001  Country estimation.         NaN
1         ABW  SE.TER.TCHR.FE  YR2005  Country estimation.         NaN
2         ABW  SE.PRE.TCHR.FE  YR2000  Country estimation.         NaN
3         ABW  SE.SEC.ENRL.GC  YR2004  Country estimation.         NaN
4         ABW     SE.PRE.TCHR  YR2006  Country estimation.         NaN

 * Gestion des doublons
      - Nombre de doublons: 0
 * Colonnes avec valeurs manquantes:
      - Unnamed: 4: 643638 (100.0%)
Aucune valeur manquante détectée

 * Statistiques descritives (1 colonnes numériques):
       Unnamed: 4
count         0.0
mean          NaN
std           NaN
min           NaN
25%           NaN
50%           NaN
75%           NaN
max           NaN

Colonnes catégorielles (4 colonnes):
 CountryCode: 239 valeurs uniques
 SeriesCode: 1558 valeurs uniques
 Year: 56 valeurs uniques
 DESCRIPTION: 9102 valeurs uniques

In [10]:
FootNote = FootNote.drop("Unnamed: 4", axis = 1)

5. Dataset EdStatsSeries(Series)

In [11]:
# 1. Définir des lignes
print(" * Structure des données:")
print(f"      - Dimensions: {Series.shape[0]} lignes × {Series.shape[1]} colonnes")
print(f"      - Colonnes: {list(Series.columns[:5])}{'...' if len(Series.columns) > 5 else ''}")

# Aperçu des 5 premières lignes
print(f"\n * Aperçu des données:")
display(Series.head())
        
# 2. Calcul des doublons
print(f"\n * Gestion des doublons ")
nb_doublons = Series.duplicated().sum()
print(f"      - Nombre de doublons: {nb_doublons}")
if nb_doublons > 0:
    print(f"  - Proportion de doublons: {nb_doublons/len(Series)*100:.2f}%")
            # On supprimera les doublons si nécessaire

#3. Calcul des valeurs manquantes
valeurs_manquantes = Series.isnull().sum()
prop_manquantes = (valeurs_manquantes / len(Series) * 100).round(2)
        
### Affichage des colonnes avec des valeurs manquantes
colonnes_avec_nan = prop_manquantes[prop_manquantes > 0]
if len(colonnes_avec_nan) > 0:
    print(" * Colonnes avec valeurs manquantes:")
    for col, prop in colonnes_avec_nan.head(10).items():
        print(f"      - {col}: {valeurs_manquantes[col]} ({prop}%)")
    if len(colonnes_avec_nan) > 10:
        print(f"      -  ... et {len(colonnes_avec_nan)-10} autres colonnes")
    else:
        print("Aucune valeur manquante détectée")
        
# 4. Statistiques descriptives pour colonnes numériques
colonnes_numeriques = Series.select_dtypes(include=[np.number]).columns
if len(colonnes_numeriques) > 0:
    print(f"\n * Statistiques descritives ({len(colonnes_numeriques)} colonnes numériques):")
    print(Series[colonnes_numeriques].describe())
        
#5. Analyse des colonnes catégorielles
colonnes_categorielles = Series.select_dtypes(include=['object']).columns
if len(colonnes_categorielles) > 0:
    print(f"\nColonnes catégorielles ({len(colonnes_categorielles)} colonnes):")
    for col in colonnes_categorielles[:5]:  # Limiter à 5 colonnes
        nb_uniques = Series[col].nunique()
        print(f" {col}: {nb_uniques} valeurs uniques")
        if nb_uniques <= 10:  # Afficher les valeurs si pas trop nombreuses
            print(f"Valeurs: {Series[col].value_counts().head(3).to_dict()}")

 * Structure des données:
      - Dimensions: 3665 lignes × 21 colonnes
      - Colonnes: ['Series Code', 'Topic', 'Indicator Name', 'Short definition', 'Long definition']...

 * Aperçu des données:

,Series Code,Topic,Indicator Name,Short definition,Long definition,Unit of measure,Periodicity,Base Period,Other notes,Aggregation method,Limitations and exceptions,Notes from original source,General comments,Source,Statistical concept and methodology,Development relevance,Related source links,Other web links,Related indicators,License Type,Unnamed: 20
0,BAR.NOED.1519.FE.ZS,Attainment,Barro-Lee: Percentage of female population age...,Percentage of female population age 15-19 with...,Percentage of female population age 15-19 with...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BAR.NOED.1519.ZS,Attainment,Barro-Lee: Percentage of population age 15-19 ...,Percentage of population age 15-19 with no edu...,Percentage of population age 15-19 with no edu...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BAR.NOED.15UP.FE.ZS,Attainment,Barro-Lee: Percentage of female population age...,Percentage of female population age 15+ with n...,Percentage of female population age 15+ with n...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BAR.NOED.15UP.ZS,Attainment,Barro-Lee: Percentage of population age 15+ wi...,Percentage of population age 15+ with no educa...,Percentage of population age 15+ with no educa...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BAR.NOED.2024.FE.ZS,Attainment,Barro-Lee: Percentage of female population age...,Percentage of female population age 20-24 with...,Percentage of female population age 20-24 with...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

 * Gestion des doublons
      - Nombre de doublons: 0
 * Colonnes avec valeurs manquantes:
      - Short definition: 1509 (41.17%)
      - Unit of measure: 3665 (100.0%)
      - Periodicity: 3566 (97.3%)
      - Base Period: 3351 (91.43%)
      - Other notes: 3113 (84.94%)
      - Aggregation method: 3618 (98.72%)
      - Limitations and exceptions: 3651 (99.62%)
      - Notes from original source: 3665 (100.0%)
      - General comments: 3651 (99.62%)
      - Statistical concept and methodology: 3642 (99.37%)
      -  ... et 6 autres colonnes

 * Statistiques descritives (6 colonnes numériques):
       Unit of measure  Notes from original source  Other web links  \
count              0.0                         0.0              0.0
mean               NaN                         NaN              NaN
std                NaN                         NaN              NaN
min                NaN                         NaN              NaN
25%                NaN                         NaN              NaN
50%                NaN                         NaN              NaN
75%                NaN                         NaN              NaN
max                NaN                         NaN              NaN

       Related indicators  License Type  Unnamed: 20
count                 0.0           0.0          0.0
mean                  NaN           NaN          NaN
std                   NaN           NaN          NaN
min                   NaN           NaN          NaN
25%                   NaN           NaN          NaN
50%                   NaN           NaN          NaN
75%                   NaN           NaN          NaN
max                   NaN           NaN          NaN

Colonnes catégorielles (15 colonnes):
 Series Code: 3665 valeurs uniques
 Topic: 37 valeurs uniques
 Indicator Name: 3665 valeurs uniques
 Short definition: 1169 valeurs uniques
 Long definition: 2060 valeurs uniques

In [71]:
Series = Series.drop("Unnamed: 20", axis = 1)

#### Étape 3 : Réalisation des premiers nettoyage

 * Nettoyage du dataset Country

In [72]:
Country.shape

(241, 31)

In [73]:
# Récupération de tous les pays
all_pays = []
for i in Country["Short Name"]:
    all_pays.append(i)
print(f"• Nombre total d'entités dans Country: {len(all_pays)}")
print(f"• Premiers éléments de la liste: {all_pays[:5]}")
print(f"• Derniers éléments de la liste: {all_pays[-5:]}")

• Nombre total d'entités dans Country: 241
• Premiers éléments de la liste: ['Aruba', 'Afghanistan', 'Angola', 'Albania', 'Andorra']
• Derniers éléments de la liste: ['Kosovo', 'Yemen', 'South Africa', 'Zambia', 'Zimbabwe']

In [74]:
# Affectation des faux pays dans une variable faux_pays
faux_pays = [
    'East Asia & Pacific (developing only)',
    'East Asia & Pacific (all income levels)',
    'Europe & Central Asia (developing only)',
    'Europe & Central Asia (all income levels)',
    'Heavily indebted poor countries (HIPC)',
    'Latin America & Caribbean (developing only)', 
    'Least developed countries: UN classification',
    'Lower middle income',
    'Low & middle income',
    'Low income',
    'Middle East & North Africa (all income levels)',
    'Middle East & North Africa (developing only)',
    'OECD members',
    "Dem. People's Rep. Korea",
    'West Bank and Gaza',
    'Sub-Saharan Africa (developing only)', 
    'Sub-Saharan Africa (all income levels)',
    'Upper middle income',
    'Latin America & Caribbean (all income levels)',
    'High income',
    'Middle income',
    'Hong Kong SAR, China',
    'World'
]
print(f"• Nombre de faux pays identifiés: {len(faux_pays)}")

• Nombre de faux pays identifiés: 23

In [75]:
# Filtrage des pays indésirables du df Country
Country = Country[~Country["Short Name"].isin(faux_pays)]
print(f"   - Après nettoyage nous obtenons: {len(Country)} lignes")

   - Après nettoyage nous obtenons: 218 lignes

   * Nettoyage du dataset Data

In [76]:
# Filtrage des pays indésirables du df Data
Data = Data[~Data["Country Name"].isin(faux_pays)]
print(f"   - Après nettoyage nous obtenons: {len(Data)} lignes")

   - Après nettoyage nous obtenons: 842950 lignes

In [77]:
Data.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2020,2025,2030,2035,2040,2045,2050,2055,2060,2065,2070,2075,2080,2085,2090,2095,2100
0,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.GPI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arab World,ARB,"Adjusted net enrolment rate, primary, both sex...",SE.PRM.TENR,54.822121,54.894138,56.209438,57.267109,57.991138,59.36554,60.999962,61.92268,62.69342,64.383186,65.617767,66.085152,66.608139,67.290451,68.510094,69.033211,69.944908,71.04187,71.693779,71.699097,71.995819,72.602837,70.032722,70.464821,72.645683,71.81176,73.903511,74.425201,75.110817,76.254318,77.245682,78.800522,80.051399,80.805389,81.607063,82.489487,82.685509,83.280342,84.011871,84.195961,85.211998,85.24514,86.101669,85.51194,85.320152,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Partie 2

#### Étape 1 : Réduction du périmètre en utilisant une approche métier

In [78]:
# Examen du dataset Series pour comprendre les catégories d'indicateurs
print("Colonnes du dataset Series:")
print(Series.columns.tolist())

Colonnes du dataset Series:
['Series Code', 'Topic', 'Indicator Name', 'Short definition', 'Long definition', 'Unit of measure', 'Periodicity', 'Base Period', 'Other notes', 'Aggregation method', 'Limitations and exceptions', 'Notes from original source', 'General comments', 'Source', 'Statistical concept and methodology', 'Development relevance', 'Related source links', 'Other web links', 'Related indicators', 'License Type']

In [79]:
# Identifier la colonne de catégorie ('Topic')
if 'Topic' in Series.columns:
    category_col = 'Topic'
elif 'Category' in series.columns:
    category_col = 'Category'
else:
    # Chercher une colonne qui pourrait contenir les catégories
    category_col = [col for col in series.columns if 'topic' in col.lower() or 'category' in col.lower()][0]

print(f"Colonne de catégorie identifiée: {category_col}")
print(f"Catégories disponibles:")
categories = Series[category_col].value_counts()
print(categories)
print()

Colonne de catégorie identifiée: Topic
Catégories disponibles:
Topic
Learning Outcomes                                                                               1046
Attainment                                                                                       733
Education Equality                                                                               426
Secondary                                                                                        256
Primary                                                                                          248
Population                                                                                       213
Tertiary                                                                                         158
Teachers                                                                                         137
Expenditures                                                                                      93
Engaging the Private Sector (SABER)                                                               51
Literacy                                                                                          32
Teachers (SABER)                                                                                  29
School Autonomy and Accountability (SABER)                                                        29
Early Childhood Education                                                                         24
Education Management Information Systems (SABER)                                                  23
Post-Secondary/Non-Tertiary                                                                       19
School Finance (SABER)                                                                            18
Tertiary Education (SABER)                                                                        17
Student Assessment (SABER)                                                                        15
Pre-Primary                                                                                       14
Health: Population: Structure                                                                     13
Workforce Development (SABER)                                                                     12
Early Child Development (SABER)                                                                   12
Social Protection & Labor: Labor force structure                                                  11
School Health and School Feeding (SABER)                                                           9
Economic Policy & Debt: Purchasing power parity                                                    6
Laber                                                                                              3
Social Protection & Labor: Unemployment                                                            3
Economic Policy & Debt: National accounts: US$ at current prices: Aggregate indicators             3
Economic Policy & Debt: National accounts: US$ at constant 2010 prices: Aggregate indicators       2
Background                                                                                         2
Infrastructure: Communications                                                                     2
EMIS                                                                                               2
Economic Policy & Debt: National accounts: Atlas GNI & GNI per capita                              1
Health: Risk factors                                                                               1
Health: Mortality                                                                                  1
Health: Population: Dynamics                                                                       1
Name: count, dtype: int64

In [80]:
# Sélection des catégories pertinentes pour academy (EdTech lycée/université)
categories_pertinentes = [
    'Education',
    'Population', 
    'Science and Technology',
    'Economic Policy & Debt',
    'Infrastructure']

In [81]:
print("Filtrage par catégories pertinentes:")
print(f"Catégories sélectionnées: {categories_pertinentes}")

# Filtrage des indicateurs par catégories pertinentes
series_filtered = Series[Series[category_col].isin(categories_pertinentes)]
print(f"Nombre d'indicateurs après filtrage par catégorie: {len(series_filtered)}")

# Récupération des codes des indicateurs filtrés
indicateurs_codes = series_filtered['Series Code'].tolist()

Filtrage par catégories pertinentes:
Catégories sélectionnées: ['Education', 'Population', 'Science and Technology', 'Economic Policy & Debt', 'Infrastructure']
Nombre d'indicateurs après filtrage par catégorie: 213

In [82]:
# Filtrage du dataset Data pour ne garder que les indicateurs pertinentes
data_filtered = Data[Data['Indicator Code'].isin(indicateurs_codes)]
print(f"Nombre de lignes dans Data après filtrage: {len(data_filtered)}")

Nombre de lignes dans Data après filtrage: 48990

In [83]:
# Analyse des colonnes années dans le dataset Data
year_columns = [col for col in Data.columns if col.isdigit()]
print(f"Années disponibles: {min(year_columns)} à {max(year_columns)}")
print(f"Nombre total d'années: {len(year_columns)}")

Années disponibles: 1970 à 2100
Nombre total d'années: 65

In [84]:
# Analyse des valeurs futures
current_year = 2025
future_years = [col for col in year_columns if int(col) > current_year]
if future_years:
    print(f"Années futures détectées: {future_years}")
    print("Raison possible: projections démographiques ou estimations")
    # Vérifier si ces années futures contiennent des données
    future_data_count = data_filtered[future_years].notna().sum().sum()
    print(f"Nombre de valeurs non-nulles pour les années futures: {future_data_count}")

Années futures détectées: ['2030', '2035', '2040', '2045', '2050', '2055', '2060', '2065', '2070', '2075', '2080', '2085', '2090', '2095', '2100']
Raison possible: projections démographiques ou estimations
Nombre de valeurs non-nulles pour les années futures: 0

In [85]:
# Filtrage des années pertinentes (2000-2024 pour avoir des données récentes et historiques)
years_pertinentes = [col for col in year_columns if 2000 <= int(col) <= 2025]
print(f"Années sélectionnées pour l'analyse: {min(years_pertinentes)} à {max(years_pertinentes)}")
print(f"Nombre d'années retenues: {len(years_pertinentes)}")

# Dataset final filtré
data_final = data_filtered[['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'] + years_pertinentes]
print(f"Dimensions du dataset final: {data_final.shape}")

Années sélectionnées pour l'analyse: 2000 à 2025
Nombre d'années retenues: 20
Dimensions du dataset final: (48990, 24)

#### Étape 2 : Réduction du périmètre en utilisant une approche data

In [86]:
#Selection des indicateurs
# Proportion d'indicateurs renseignés par année
prop_by_year = {}
for year in years_pertinentes:
    prop_by_year[year] = data_final[year].notna().sum() / len(data_final)

prop_year_df = pd.DataFrame(list(prop_by_year.items()), columns=['Année', 'Proportion'])
print("Meilleures années:")
display(prop_year_df.sort_values('Proportion', ascending=False))

Meilleures années:

   Année  Proportion
2   2002    0.829598
3   2003    0.829557
4   2004    0.826128
5   2005    0.825822
1   2001    0.825046
0   2000    0.819902
6   2006    0.811186
9   2009    0.789692
7   2007    0.789447
8   2008    0.789447
11  2011    0.789141
13  2013    0.788773
10  2010    0.788610
12  2012    0.788569
15  2015    0.765605
14  2014    0.599510
16  2016    0.089651
17  2017    0.000000
18  2020    0.000000
19  2025    0.000000

In [87]:
# Proportion d'années renseignées par indicateur
prop_by_indicator = {}
for idx, row in data_final.iterrows():
    indicator_code = row['Indicator Code']
    values_present = row[years_pertinentes].notna().sum()
    prop_by_indicator[indicator_code] = values_present / len(years_pertinentes)

In [88]:
# Compter les pays par indicateur et par année
data_melted = data_final.melt(
    id_vars=['Country Code', 'Indicator Code'],
    value_vars=years_pertinentes,
    var_name='Year',
    value_name='Value'
)

In [89]:
# Calcul du nombre de pays avec des valeurs par indicateur et année
richesse_donnees = data_melted.groupby(['Indicator Code', 'Year'])['Value'].count().reset_index()
richesse_donnees.columns = ['Indicator Code', 'Year', 'Nb_Pays_Renseignés']

In [90]:
richesse_donnees.head()

      Indicator Code  Year  Nb_Pays_Renseignés
0  SP.POP.0305.FE.UN  2000                 188
1  SP.POP.0305.FE.UN  2001                 189
2  SP.POP.0305.FE.UN  2002                 190
3  SP.POP.0305.FE.UN  2003                 190
4  SP.POP.0305.FE.UN  2004                 189

In [91]:
# Calcul de la moyenne de pays renseignés par indicateur
richesse_moyenne = richesse_donnees.groupby('Indicator Code')['Nb_Pays_Renseignés'].agg(['mean', 'max', 'min']).reset_index()
richesse_moyenne.columns = ['Indicator Code', 'Moyenne_Pays', 'Max_Pays', 'Min_Pays']
richesse_moyenne = richesse_moyenne.sort_values('Moyenne_Pays', ascending=False)

In [92]:
richesse_moyenne.head()

        Indicator Code  Moyenne_Pays  Max_Pays  Min_Pays
196     SP.SEC.UTOT.IN        173.15       210         0
190     SP.SEC.LTOT.IN        173.05       209         0
193     SP.SEC.TOTL.IN        172.90       209         0
181     SP.PRE.TOTL.IN        172.85       209         0
197  SP.SEC.UTOT.MA.IN        172.40       209         0

In [93]:
# Ajouter les noms
richesse_avec_noms = richesse_moyenne.merge(
    data_final[['Indicator Code', 'Indicator Name']].drop_duplicates(),
    on='Indicator Code'
)
print("Top 20 indicateurs les plus riches:")
display(richesse_avec_noms[['Indicator Code', 'Indicator Name', 'Moyenne_Pays']].head(20))

Top 20 indicateurs les plus riches:

,Indicator Code,Indicator Name,Moyenne_Pays
0,SP.SEC.UTOT.IN,Population of the official age for upper secon...,173.15
1,SP.SEC.LTOT.IN,Population of the official age for lower secon...,173.05
2,SP.SEC.TOTL.IN,Population of the official age for secondary e...,172.90
3,SP.PRE.TOTL.IN,Population of the official age for pre-primary...,172.85
4,SP.SEC.UTOT.MA.IN,Population of the official age for upper secon...,172.40
5,SP.SEC.UTOT.FE.IN,Population of the official age for upper secon...,172.40
6,SP.SEC.LTOT.FE.IN,Population of the official age for lower secon...,172.30
7,SP.SEC.LTOT.MA.IN,Population of the official age for lower secon...,172.30
8,SP.SEC.TOTL.FE.IN,Population of the official age for secondary e...,172.15
9,SP.SEC.TOTL.MA.IN,Population of the official age for secondary e...,172.15
10,SP.PRE.TOTL.FE.IN,Population of the official age for pre-primary...,172.10
11,SP.PRE.TOTL.MA.IN,Population of the official age for pre-primary...,172.10
12,SP.PRM.TOTL.IN,Population of the official age for primary edu...,171.60
13,UIS.SAP.23.GPV.G1,Population of the official entrance age to sec...,171.45
14,SP.PRM.TOTL.MA.IN,Population of the official age for primary edu...,170.90
15,SP.PRM.TOTL.FE.IN,Population of the official age for primary edu...,170.90
16,SP.PRM.GRAD.TO,Population of the official age for the last gr...,170.75
17,UIS.SAP.23.GPV.G1.M,Population of the official entrance age to sec...,170.60
18,UIS.SAP.23.GPV.G1.F,Population of the official entrance age to sec...,170.60
19,UIS.SAP.1.G1,Population of the official entrance age to pri...,170.25

In [94]:
# Sélectionner 15 meilleurs indicateurs
indicateurs_academy_final = richesse_avec_noms.head(20)['Indicator Code'].tolist()

print(f"\nIndicateurs sélectionnés: {len(indicateurs_academy_final)}")

Indicateurs sélectionnés: 20

In [95]:
# Dataset final academy
data_academy = data_final[data_final['Indicator Code'].isin(indicateurs_academy_final)]

print(f"Dataset academy final: {data_academy.shape}")
print(f"Pays: {data_academy['Country Code'].nunique()}")
print(f"Indicateurs: {data_academy['Indicator Code'].nunique()}")

print("\nListe des indicateurs finaux:")
for code in indicateurs_academy_final:
    name = data_academy[data_academy['Indicator Code']==code]['Indicator Name'].iloc[0]
    print(f"- {code}: {name}")

Dataset academy final: (4600, 24)
Pays: 230
Indicateurs: 20

Liste des indicateurs finaux:
- SP.SEC.UTOT.IN: Population of the official age for upper secondary education, both sexes (number)
- SP.SEC.LTOT.IN: Population of the official age for lower secondary education, both sexes (number)
- SP.SEC.TOTL.IN: Population of the official age for secondary education, both sexes (number)
- SP.PRE.TOTL.IN: Population of the official age for pre-primary education, both sexes (number)
- SP.SEC.UTOT.MA.IN: Population of the official age for upper secondary education, male (number)
- SP.SEC.UTOT.FE.IN: Population of the official age for upper secondary education, female (number)
- SP.SEC.LTOT.FE.IN: Population of the official age for lower secondary education, female (number)
- SP.SEC.LTOT.MA.IN: Population of the official age for lower secondary education, male (number)
- SP.SEC.TOTL.FE.IN: Population of the official age for secondary education, female (number)
- SP.SEC.TOTL.MA.IN: Population of the official age for secondary education, male (number)
- SP.PRE.TOTL.FE.IN: Population of the official age for pre-primary education, female (number)
- SP.PRE.TOTL.MA.IN: Population of the official age for pre-primary education, male (number)
- SP.PRM.TOTL.IN: Population of the official age for primary education, both sexes (number)
- UIS.SAP.23.GPV.G1: Population of the official entrance age to secondary general education, both sexes (number)
- SP.PRM.TOTL.MA.IN: Population of the official age for primary education, male (number)
- SP.PRM.TOTL.FE.IN: Population of the official age for primary education, female (number)
- SP.PRM.GRAD.TO: Population of the official age for the last grade of primary education, both sexes (number)
- UIS.SAP.23.GPV.G1.M: Population of the official entrance age to secondary general education, male (number)
- UIS.SAP.23.GPV.G1.F: Population of the official entrance age to secondary general education, female (number)
- UIS.SAP.1.G1: Population of the official entrance age to primary education, both sexes (number)

In [96]:
indicateurs_academy_final

['SP.SEC.UTOT.IN',
 'SP.SEC.LTOT.IN',
 'SP.SEC.TOTL.IN',
 'SP.PRE.TOTL.IN',
 'SP.SEC.UTOT.MA.IN',
 'SP.SEC.UTOT.FE.IN',
 'SP.SEC.LTOT.FE.IN',
 'SP.SEC.LTOT.MA.IN',
 'SP.SEC.TOTL.FE.IN',
 'SP.SEC.TOTL.MA.IN',
 'SP.PRE.TOTL.FE.IN',
 'SP.PRE.TOTL.MA.IN',
 'SP.PRM.TOTL.IN',
 'UIS.SAP.23.GPV.G1',
 'SP.PRM.TOTL.MA.IN',
 'SP.PRM.TOTL.FE.IN',
 'SP.PRM.GRAD.TO',
 'UIS.SAP.23.GPV.G1.M',
 'UIS.SAP.23.GPV.G1.F',
 'UIS.SAP.1.G1']

In [98]:
print("-" * 100)
print(f"\nDataset final academy: {data_academy.shape}")
print(f"Pays uniques: {data_academy['Country Code'].nunique()}")
print(f"Indicateurs: {data_academy['Indicator Code'].nunique()}")


print(f"✓ Catégories d'indicateurs filtrées: {len(categories_pertinentes)}")
print(f"✓ Années analysées: {len(years_pertinentes)} ({min(years_pertinentes)}-{max(years_pertinentes)})")
print(f"✓ Indicateurs sélectionnés pour academy: {len(indicateurs_academy_final)}")  
print(f"✓ Dataset prêt pour l'expansion internationale d'academy")

----------------------------------------------------------------------------------------------------

Dataset final academy: (4600, 24)
Pays uniques: 230
Indicateurs: 20
✓ Catégories d'indicateurs filtrées: 5
✓ Années analysées: 20 (2000-2025)
✓ Indicateurs sélectionnés pour academy: 20
✓ Dataset prêt pour l'expansion internationale d'academy

#### Étape 3 : Consolidation des résultats dans dataframe agréger par pays

In [99]:
# =============================================================================
# ÉTAPE 3: AGRÉGATION DES DONNÉES PAR PAYS
# =============================================================================

print("=== ÉTAPE 3: CONSTRUCTION DU DATAFRAME PAYS × INDICATEURS ===")

# Partir du dataset academy de l'étape 2
print("Dataset de départ:")
print(f"- Forme: {data_academy.shape}")
print(f"- Pays uniques: {data_academy['Country Code'].nunique()}")
print(f"- Indicateurs: {data_academy['Indicator Code'].nunique()}")
print(f"- Années: {len(years_pertinentes)} ({min(years_pertinentes)}-{max(years_pertinentes)})")

=== ÉTAPE 3: CONSTRUCTION DU DATAFRAME PAYS × INDICATEURS ===
Dataset de départ:
- Forme: (4600, 24)
- Pays uniques: 230
- Indicateurs: 20
- Années: 20 (2000-2025)

In [100]:
# Transformer en format long pour analyser la couverture
data_long = data_academy.melt(
    id_vars=['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'],
    value_vars=years_pertinentes,
    var_name='Year',
    value_name='Value'
)
# Supprimer les valeurs manquantes
data_long_clean = data_long.dropna(subset=['Value'])

In [101]:
print(f"Données avant nettoyage: {len(data_long):,} lignes")
print(f"Données après nettoyage: {len(data_long_clean):,} lignes")
print(f"Taux de remplissage global: {len(data_long_clean)/len(data_long)*100:.1f}%")

Données avant nettoyage: 92,000 lignes
Données après nettoyage: 68,738 lignes
Taux de remplissage global: 74.7%

In [102]:
# Analyser le nombre d'années disponibles par combinaison (pays, indicateur)
couverture_temporelle = data_long_clean.groupby(['Country Code', 'Indicator Code']).size().reset_index(name='Nb_Années')

print(f"\nDistribution du nombre d'années par combinaison (pays, indicateur):")
print(couverture_temporelle['Nb_Années'].describe())

Distribution du nombre d'années par combinaison (pays, indicateur):
count    4206.000000
mean       16.342844
std         1.916672
min         1.000000
25%        16.000000
50%        17.000000
75%        17.000000
max        17.000000
Name: Nb_Années, dtype: float64

In [103]:
# Vérifier les combinaisons avec peu d'années
peu_annees = couverture_temporelle[couverture_temporelle['Nb_Années'] < 3]
print(f"\nCombinaisons avec moins de 3 années: {len(peu_annees)}")
print(f"Pourcentage: {len(peu_annees)/len(couverture_temporelle)*100:.1f}%")

if len(peu_annees) > len(couverture_temporelle) * 0.2:  # Si plus de 20%
    print("ATTENTION: Beaucoup de combinaisons ont peu d'années de données")
    print("Conseil: Réviser la sélection d'indicateurs ou ajuster la période temporelle")
else:
    print("Qualité acceptable: La plupart des combinaisons ont suffisamment d'années")

Combinaisons avec moins de 3 années: 21
Pourcentage: 0.5%
Qualité acceptable: La plupart des combinaisons ont suffisamment d'années

In [106]:
 #=============================================================================
# AGRÉGATION AVEC PIVOT_TABLE
# =============================================================================

print(f"\nAgrégation des données")

# Méthode d'agrégation: moyenne sur les années disponibles
print("Méthode d'agrégation choisie: MOYENNE")
print("Justification: La moyenne lisse les variations annuelles et donne une vision stable du niveau de chaque indicateur par pays")

Agrégation des données
Méthode d'agrégation choisie: MOYENNE
Justification: La moyenne lisse les variations annuelles et donne une vision stable du niveau de chaque indicateur par pays

In [107]:
#Créer le pivot table: pays en lignes, indicateurs en colonnes
df_aggrege = data_long_clean.pivot_table(
    index=['Country Code', 'Country Name'],
    columns='Indicator Code',
    values='Value',
    aggfunc='mean'  # Moyenne des années disponibles
)

# Réinitialiser l'index pour avoir Country Code et Country Name comme colonnes
df_aggrege = df_aggrege.reset_index()

print(f"\nDataframe agrégé créé:")
print(f"- Forme: {df_aggrege.shape}")
print(f"- Pays: {len(df_aggrege)}")
print(f"- Indicateurs: {len(df_aggrege.columns) - 2}")  # -2 pour Country Code et Name

Dataframe agrégé créé:
- Forme: (212, 22)
- Pays: 212
- Indicateurs: 20

In [108]:
# Analyser le taux de remplissage du dataframe agrégé
colonnes_indicateurs = [col for col in df_aggrege.columns if col not in ['Country Code', 'Country Name']]
taux_remplissage = df_aggrege[colonnes_indicateurs].notna().mean().mean()
print(f"- Taux de remplissage moyen: {taux_remplissage*100:.1f}%")

- Taux de remplissage moyen: 99.2%

In [ ]:
# =============================================================================
# ANALYSE DU DATAFRAME AGRÉGÉ
# ============================================================

In [109]:
# Aperçu du dataframe
print("Aperçu des premières lignes:")
display(df_aggrege.head())

print(f"\nAperçu des premières colonnes d'indicateurs:")
display(df_aggrege[['Country Name'] + colonnes_indicateurs[:5]].head())

Aperçu des premières lignes:

Indicator Code,Country Code,Country Name,SP.PRE.TOTL.FE.IN,SP.PRE.TOTL.IN,SP.PRE.TOTL.MA.IN,SP.PRM.GRAD.TO,SP.PRM.TOTL.FE.IN,SP.PRM.TOTL.IN,SP.PRM.TOTL.MA.IN,SP.SEC.LTOT.FE.IN,SP.SEC.LTOT.IN,SP.SEC.LTOT.MA.IN,SP.SEC.TOTL.FE.IN,SP.SEC.TOTL.IN,SP.SEC.TOTL.MA.IN,SP.SEC.UTOT.FE.IN,SP.SEC.UTOT.IN,SP.SEC.UTOT.MA.IN,UIS.SAP.1.G1,UIS.SAP.23.GPV.G1,UIS.SAP.23.GPV.G1.F,UIS.SAP.23.GPV.G1.M
0,ABW,Aruba,1.345941e+03,2.742353e+03,1.396412e+03,1.478412e+03,4.306471e+03,8.714706e+03,4.408235e+03,1.470412e+03,2.955706e+03,1.485294e+03,3.639176e+03,7.316294e+03,3.677118e+03,2.168765e+03,4.360588e+03,2.191824e+03,1.411765e+03,1.479235e+03,7.357059e+02,7.435294e+02
1,AFG,Afghanistan,1.548204e+06,3.178587e+06,1.630383e+06,6.927675e+05,2.214142e+06,4.554592e+06,2.340449e+06,9.323513e+05,1.924085e+06,9.917338e+05,1.755195e+06,3.628039e+06,1.872844e+06,8.228439e+05,1.703954e+06,8.811103e+05,8.354872e+05,6.802172e+05,3.299095e+05,3.503077e+05
2,AGO,Angola,5.931535e+05,1.189072e+06,5.959181e+05,5.482371e+05,1.588960e+06,3.180823e+06,1.591864e+06,8.464719e+05,1.687903e+06,8.414313e+05,1.518136e+06,3.024640e+06,1.506504e+06,6.716639e+05,1.336737e+06,6.650729e+05,6.544233e+05,5.267874e+05,2.638346e+05,2.629528e+05
3,ALB,Albania,6.225359e+04,1.294335e+05,6.717994e+04,5.390224e+04,1.056762e+05,2.190763e+05,1.134001e+05,1.130288e+05,2.327251e+05,1.196963e+05,2.178890e+05,4.465026e+05,2.286136e+05,1.048602e+05,2.137775e+05,1.089173e+05,4.656841e+04,5.589241e+04,2.707365e+04,2.881876e+04
4,ARB,Arab World,8.568873e+06,1.751383e+07,8.944955e+06,7.200342e+06,2.073680e+07,4.237979e+07,2.164299e+07,1.070911e+07,2.189326e+07,1.118415e+07,2.097046e+07,4.282575e+07,2.185529e+07,1.026135e+07,2.093248e+07,1.067113e+07,7.561859e+06,6.999016e+06,3.429493e+06,3.569523e+06

Aperçu des premières colonnes d'indicateurs:

Indicator Code,Country Name,SP.PRE.TOTL.FE.IN,SP.PRE.TOTL.IN,SP.PRE.TOTL.MA.IN,SP.PRM.GRAD.TO,SP.PRM.TOTL.FE.IN
0,Aruba,1.345941e+03,2.742353e+03,1.396412e+03,1.478412e+03,4.306471e+03
1,Afghanistan,1.548204e+06,3.178587e+06,1.630383e+06,6.927675e+05,2.214142e+06
2,Angola,5.931535e+05,1.189072e+06,5.959181e+05,5.482371e+05,1.588960e+06
3,Albania,6.225359e+04,1.294335e+05,6.717994e+04,5.390224e+04,1.056762e+05
4,Arab World,8.568873e+06,1.751383e+07,8.944955e+06,7.200342e+06,2.073680e+07

In [110]:
#Statistiques par indicateur
print(f"\nStatistiques descriptives par indicateur:")
stats_indicateurs = df_aggrege[colonnes_indicateurs].describe()
display(stats_indicateurs.round(2))

Statistiques descriptives par indicateur:

Indicator Code,SP.PRE.TOTL.FE.IN,SP.PRE.TOTL.IN,SP.PRE.TOTL.MA.IN,SP.PRM.GRAD.TO,SP.PRM.TOTL.FE.IN,SP.PRM.TOTL.IN,SP.PRM.TOTL.MA.IN,SP.SEC.LTOT.FE.IN,SP.SEC.LTOT.IN,SP.SEC.LTOT.MA.IN,SP.SEC.TOTL.FE.IN,SP.SEC.TOTL.IN,SP.SEC.TOTL.MA.IN,SP.SEC.UTOT.FE.IN,SP.SEC.UTOT.IN,SP.SEC.UTOT.MA.IN,UIS.SAP.1.G1,UIS.SAP.23.GPV.G1,UIS.SAP.23.GPV.G1.F,UIS.SAP.23.GPV.G1.M
count,211.00,212.00,211.00,210.00,210.00,2.110000e+02,210.00,210.00,2.110000e+02,210.00,2.100000e+02,2.110000e+02,2.100000e+02,210.00,2.110000e+02,210.00,210.00,210.00,209.00,209.00
mean,2069656.17,4260767.54,2211300.13,1581304.14,4241900.67,8.711160e+06,4510726.52,2490089.01,5.101988e+06,2636188.76,4.903074e+06,1.004216e+07,5.186901e+06,2412981.24,4.940179e+06,2550718.44,1593186.33,1581044.12,769253.45,816828.55
std,6585523.77,13696994.17,7143444.04,5009884.29,13231195.06,2.742589e+07,14257424.76,7599702.92,1.571580e+07,8151062.23,1.546814e+07,3.199018e+07,1.659329e+07,7932238.02,1.640462e+07,8509045.38,4962946.59,5060082.53,2439936.52,2632298.89
min,155.00,328.00,173.00,231.35,679.06,1.419240e+03,740.18,349.00,7.330000e+02,384.00,6.217600e+02,1.288470e+03,6.667100e+02,198.71,4.087100e+02,210.00,239.65,227.06,108.18,118.00
25%,41983.95,82486.73,43889.71,28741.71,74642.34,1.433954e+05,79293.48,54332.65,1.075074e+05,54410.90,9.695874e+04,1.903361e+05,1.000398e+05,43885.91,8.724082e+04,44954.71,33273.76,31304.68,15092.06,15316.65
50%,196974.18,406032.69,207650.59,134785.21,382371.22,7.713109e+05,395998.69,222695.94,4.473748e+05,232841.06,4.169479e+05,8.442561e+05,4.346187e+05,193489.79,3.836858e+05,195179.65,139181.20,134170.71,66015.53,68464.35
75%,830589.00,1695259.35,872603.25,583059.18,1655767.69,3.399734e+06,1754405.25,930873.50,1.879858e+06,966797.70,1.852687e+06,3.780731e+06,1.940209e+06,823933.20,1.691772e+06,864970.91,607844.12,571538.47,283150.29,292142.82
max,47566986.13,99861422.93,52294437.07,33853934.27,87681105.60,1.834037e+08,95722582.93,52381913.60,1.088657e+08,56483803.73,1.082657e+08,2.257086e+08,1.174429e+08,60827063.47,1.266387e+08,65811675.47,34343747.73,35558071.43,17016702.57,18541369.21

In [111]:
# Analyser les pays avec le plus/moins de données
nb_indicateurs_par_pays = df_aggrege[colonnes_indicateurs].notna().sum(axis=1)
df_aggrege['Nb_Indicateurs_Renseignes'] = nb_indicateurs_par_pays
print(f"\nPays avec le plus d'indicateurs renseignés:")
top_pays = df_aggrege.nlargest(10, 'Nb_Indicateurs_Renseignes')[['Country Name', 'Nb_Indicateurs_Renseignes']]
display(top_pays)

print(f"\nPays avec le moins d'indicateurs renseignés:")
bottom_pays = df_aggrege.nsmallest(10, 'Nb_Indicateurs_Renseignes')[['Country Name', 'Nb_Indicateurs_Renseignes']]
display(bottom_pays)

Pays avec le plus d'indicateurs renseignés:

Indicator Code         Country Name  Nb_Indicateurs_Renseignes
0                             Aruba                         20
1                       Afghanistan                         20
2                            Angola                         20
3                           Albania                         20
4                        Arab World                         20
6                         Argentina                         20
7                           Armenia                         20
8               Antigua and Barbuda                         20
9                         Australia                         20
10                          Austria                         20

Pays avec le moins d'indicateurs renseignés:

Indicator Code            Country Name  Nb_Indicateurs_Renseignes
204             British Virgin Islands                          6
20              Bosnia and Herzegovina                          7
5                 United Arab Emirates                         17
137                           Malaysia                         18
18                             Bahrain                         19
88                             Ireland                         19
0                                Aruba                         20
1                          Afghanistan                         20
2                               Angola                         20
3                              Albania                         20

In [112]:
# Supprimer la colonne temporaire
df_aggrege = df_aggrege.drop('Nb_Indicateurs_Renseignes', axis=1)

In [113]:
# =============================================================================
# VALIDATION ET RECOMMANDATIONS
# =============================================================================

print(f"\n=== VALIDATION DU DATAFRAME FINAL ===")

# Vérifications de cohérence
print("Vérifications:")
print(f"✓ Structure: {df_aggrege.shape[0]} pays × {df_aggrege.shape[1]-2} indicateurs")
print(f"✓ Pas de doublons pays: {df_aggrege['Country Code'].nunique() == len(df_aggrege)}")
print(f"✓ Colonnes attendues: {set(colonnes_indicateurs) == set(indicateurs_academy_final)}")

# Recommandations pour la suite
print(f"\n=== RECOMMANDATIONS POUR L'ANALYSE SUIVANTE ===")
print("1. Le dataframe est prêt pour les analyses de clustering et scoring")
print("2. Considérer la normalisation des indicateurs (échelles différentes)")
print("3. Analyser les corrélations entre indicateurs")
print("4. Traiter les valeurs manquantes restantes si nécessaire")

print(f"\n=== SAUVEGARDE ===")
print("Dataframe final sauvegardé dans la variable: df_aggrege")
print("Structure finale:")
print(f"- Index: Country Code, Country Name")
print(f"- Colonnes: {len(colonnes_indicateurs)} indicateurs")
print(f"- Données: moyennes sur {len(years_pertinentes)} années ({min(years_pertinentes)}-{max(years_pertinentes)})")

=== VALIDATION DU DATAFRAME FINAL ===
Vérifications:
✓ Structure: 212 pays × 20 indicateurs
✓ Pas de doublons pays: True
✓ Colonnes attendues: True

=== RECOMMANDATIONS POUR L'ANALYSE SUIVANTE ===
1. Le dataframe est prêt pour les analyses de clustering et scoring
2. Considérer la normalisation des indicateurs (échelles différentes)
3. Analyser les corrélations entre indicateurs
4. Traiter les valeurs manquantes restantes si nécessaire

=== SAUVEGARDE ===
Dataframe final sauvegardé dans la variable: df_aggrege
Structure finale:
- Index: Country Code, Country Name
- Colonnes: 20 indicateurs
- Données: moyennes sur 20 années (2000-2025)

In [ ]:
df_aggrege.head()